.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: whitesmoke;
  background-color: cornflowerblue;
  font-size: 1.3rem;
}

.title {
  margin-bottom: 0;
}

.description {
  word-break: break-word;
  max-width: 28rem;
  text-align: center;
}

select,
input {
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  display: flex;
}

.conversion {
  padding: 1rem;
  border: 2px solid black;
  min-width: 7rem;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conversion.left {
  border-right: 0;
}
